root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{vim,yml,yaml,vue,js,html}]
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[lib/**.js]
indent_style = space
indent_size = 2

[*.conf]
indent_size = 2

[{Makefile,**.mk, *.make}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

[*.{tf,tfvars}]
indent_size = 2
indent_style = space
